<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shop Management App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <h1 class="navbar-brand">Manager</h1>
      <a href="{{ url_for('home') }}" class="btn">Log out</a>
    </div>
  </nav>
  {% block content %}

  <div class="container-fluid row">

    <div class="container-fluid col">
      <h4 class="p-2">Add a new item</h4>
      <form method="post">
        <div class="form-group">
          <label for="itemName">Item Name</label>
          <input type="text" class="form-control" id="itemName" placeholder="socks" name="name" value="{{request.form["
            name"]}}" required>
        </div>
        <div class="form-group">
          <label for="itemCategory">Item Category</label>
          <input type="text" class="form-control" id="itemCategory" placeholder="underwear" name="category"
            value="{{request.form[" category"]}}" required>
        </div>
        <div class="form-group">
          <label for="itemPrice">Item Price</label>
          <input type="number" step="0.01" min="0" oninput="validity.valid||(value='');" class="form-control"
            id="itemPrice" placeholder="24.49" name="price" value="{{request.form[" price"]}}" required>
        </div>
        <div class="form-group">
          <label for="itemAmount">Item Amount</label>
          <input type="number" min="0" oninput="validity.valid||(value='');" class="form-control" id="itemAmount"
            placeholder="12" name="amount" value="{{request.form[" amount"]}}" required>
        </div>
        <button type="submit" class="btn btn-primary my-2">Add item</button>
      </form>
    </div>

    <div class="container-fluid col">
      <h4 class="p-2">Modify an existing item</h4>
      <form method="post">
        <div class="form-group">
          <label for="name">Item to Modify</label>
          <select name="name" class="form-control">
            {% for item in items %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="newItemName">New Item Name</label>
          <input type="text" class="form-control" id="newItemName" name="new name" value="{{request.form[" name"]}}">
        </div>
        <div class="form-group">
          <label for="itemCategory">New Item Category</label>
          <input type="text" class="form-control" id="newItemCategory" name="category" value="{{request.form["
            category"]}}">
        </div>
        <div class="form-group">
          <label for="itemPrice">New Item Price</label>
          <input type="number" step="0.01" min="0" oninput="validity.valid||(value='');" class="form-control"
            id="newItemPrice" name="price" value="{{request.form[" price"]}}">
        </div>
        <div class="form-group">
          <label for="newItemAmount">New Item Amount</label>
          <input type="number" min="0" oninput="validity.valid||(value='');" class="form-control" id="newItemAmount"
            name="amount" value="{{request.form[" amount"]}}">
        </div>
        {% if items %}
        <button type="submit" class="btn btn-primary my-2">Modify item</button>
        {% else %}
        <button type="submit" class="btn btn-primary my-2" disabled>Modify item</button>
        {% endif %}
        <input type="hidden" name="_method" value="PATCH" />
      </form>
    </div>

  </div>

  <div class="container-fluid p-2">
    <div id="accordionAnotherAnotherExample" class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#itemDetails">
            <h4>Items in stock</h4>
          </button>
        </h2>
        <div id="itemDetails"
        class="accordion-collapse collapse" data-bs-parent="#accordionAnotherAnotherExample">
        <div class="accordion-body">
          {% if items %}
    <form method="post">
      <div class="row row-cols-4 g-2">
        {% for item in items %}
        <div class="accordion">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title py-2 text-center">{{item.name.title()}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Price: {{item.price}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Category: {{item.category}}</h6>
              {% if item.amount >= 10 %}
              <h6 class="card-subtitle mb-2 text-muted">In stock: {{item.amount}}</h6>
              {% elif item.amount > 0 %}
              <h6 class="card-subtitle mb-2 text-warning">In stock: {{item.amount}}</h6>
              {% else %}
              <h6 class="card-subtitle mb-2 text-danger">In stock: {{item.amount}}</h6>
              {% endif %}
              <div class="text-center">
                <button name='name' type="submit" value="{{item.name}}" class="btn btn-danger my-2">Delete item</button>
                <input type="hidden" name="_method" value="DELETE" />
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </form>
    {% else %}
    <div class="text-center p-3">
      There are currently no items
    </div>
    {% endif %}
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="container-fluid p-2">
    <div id="accordionAnotherExample" class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#receiptHistory">
            <h4>A history of receipts</h4>
          </button>
        </h2>
        <div id="receiptHistory"
        class="accordion-collapse collapse" data-bs-parent="#accordionAnotherExample">
        <div class="accordion-body">
          {% if receipts %}
          <div id="accordionExample" class="accordion">
            <div class="row row-cols-4 gx-2">
              {% for receipt in receipts %}
              <div class="col">
                <div class="card-body mb-2">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{"a" +
                        receipt.time.replace(" ", "-").replace(":", "-" ).replace(".", "-" )}}">
                        {{receipt.time}}
                      </button>
                    </h2>
                    <div id="{{"a" + receipt.time.replace(" ", "-").replace(":", "-" ).replace(".", "-" )}}"
                      class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        {% for item, amount in zip(receipt["items"], receipt.amounts) %}
                        <h6 class="card-subtitle mb-2 text-muted">{{item}}: {{amount}}</h6>
                        {% endfor %}
                        <form method="post" class="text-center" target="_blank">
                          <h6 class="card-subtitle p-2">TOTAL: {{receipt.total_price}}</h6>
                          <button class="btn btn-primary">OPEN</button>
                          <input type="hidden" name="mission" value="redirect" />
                          <input type="hidden" name="receipt" value="{{receipt.time}}" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% else %}
          <div class="text-center p-3">
            There are currently no receipts
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h4 class="p-2">Statistics</h4>
    {% if days and traffic %}
    {% if detailed_daily_traffic != {} %}
    <canvas id="dailyTrafficGraph"></canvas>
    {% endif %}
    <canvas id="detailedDailyTrafficGraph"></canvas>
    {% else %}
    <div class="text-center">
      There are currently no stats
    </div>
    {% endif %}
  </div>

  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    var ctx = document.getElementById("dailyTrafficGraph")
    var data = {
      labels: {{ days| safe }},
      datasets: [{
        label: "Daily traffic on date",
        backgroundColor: "#2f4b7c",
        data: {{ traffic| safe }}
        }]
    }
    var config = {
      type: "line",
      data: data,
    }
    var chart = new Chart(ctx, config)
  </script>
  <script>
    var ctx = document.getElementById("detailedDailyTrafficGraph")
    var data = {
      labels: {{ detailed_daily_traffic["items"]| safe }},
      datasets: [{
        label: "Amount of items sold today",
        backgroundColor: "#f95d6a",
        data: {{ detailed_daily_traffic["amounts"]| safe }}
        }]
    }
    var config = {
      type: "bar",
      data: data,
    }
    var chart = new Chart(ctx, config)
  </script>


</body>

</html>