<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shop Management App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <h1 class="navbar-brand">Register</h1>
            <a href="{{ url_for('home') }}" class="btn">Log out</a>
        </div>
    </nav>
    <div class="row">
        <div class="col">
            <div class="container-fluid row">
                <form method="post">
                    <div class='row mx-auto'>
                        <h3>Supplies Section</h3>
                        <input type="submit" class="btn btn-primary" value="Checkout">
                        {% if sentEmptyOrder %}
                        <h6 class="text-center p-2 text-danger">You can't send an empty order</h6>
                        {% endif %}
                    </div>

                    <div data-toggle="buttons" class="container-fluid">
                        <div class="row row-cols-3 my-1 g-1">
                            {% block content %}
                            {% for item in items %}
                            <label class="accordion">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <select name="{{item.name}}">
                                            {% for number in range(0, item.amount+1) %}
                                            <option value="{{number}}">{{number}}</option>
                                            {% endfor %}
                                        </select>
                                        <h5 class="card-title">{{item.name}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{item.price}}</h6>
                                    </div>
                                </div>
                            </label>
                            {% endfor %}
                            {% endblock %}
                        </div>
                    </div>
                </form>
                <div class='row mx-auto m-2'>
                    <h3>Last 5 receipts</h3>
                    {% if receipts %}
                    <div class="container-fluid row row-cols-5 justify-content-center g-1">
                      {% for receipt in receipts %}
                      <div class="accordion">
                          <div class="card">
                            <div class="card-body mb-4">
                              <h6 class="card-title text-center pb-2">{{receipt.time}}</h6>
                              {% for item, amount in zip(receipt["items"], receipt.amounts) %}
                              <h6 class="card-subtitle mb-2 text-muted">{{item}}: {{amount}}</h6>
                              {% endfor %}
                              <h6 class="card-subtitle position-absolute bottom-0 p-2">TOTAL: {{receipt.total_price}}</h6>
                            </div>
                          </div>
                      </div>
                      {% endfor %}
                    </div>
                    {% else %}
                    <div class="text-center">
                        There are currently no receipts
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>